/** @format */

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 100;
    src: url(Roboto/Roboto-Thin.ttf);
  }
  @font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 100;
    src: url(Roboto/Roboto-ThinItalic.ttf);
  }
  
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 200;
    src: url(Roboto/Roboto-Light.ttf);
  }
  @font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 200;
    src: url(Roboto/Roboto-LightItalic.ttf);
  }
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url(Roboto/Roboto-Black.ttf);
  }
  @font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 700;
    src: url(Roboto/Roboto-BlackItalic.ttf);
  }
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(Roboto/Roboto-Regular.ttf) format('woff2');
  }